<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>Informations sur la courge amère</h1>
    <section class="courge_image">
      <img src="image_courge.jpg">
    </section>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    
    <% result = connection.exec("SELECT * FROM crops where give_for != '自家消費';") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "<tr><td>#{record["length"]}</td><td>#{record["weight"]}</td><td>#{record["give_for"]}</td><td>#{record["quality"]}</td><td>#{record["date"]}</td></tr>"%>
    <% end %>
    <form action="sample.cgi" method="POST">
       Cliquez ici pour avoir les information sur la courge amère bien que le cessionnaire ne soit pas '総務のおばちゃん'<br><br>
      <input type="hidden" name="sample" value="<%= data.join(' ') %>">
      <input type="submit" value = "Rechercher">
    </form>

    <% quality = connection.exec("SELECT * FROM crops where quality = 'false';") %>
    <% val = [] %>
    <% quality.each do |record| %>
      <%  val << "<tr><td>#{record["length"]}</td><td>#{record["weight"]}</td><td>#{record["give_for"]}</td><td>#{record["quality"]}</td><td>#{record["date"]}</td></tr>" %>
    <% end %>
    <form action="sample.cgi" method="POST">
       Cliquez ici pour avoir les information sur la courge amère de fausse qualité <br><br>
      <input type="hidden" name="sample" value="t<%= val.join(' ') %>">
      <input type="submit" value = "Rechercher">
    </form>
  </body>
</html>
